.container{
   width: min (100%, 1440px);
   margin: auto;

}
/* header */
header{
    padding: 6px 130px;
    display: flex;
    justify-content: space-between;


}
.burger{
    display: none;
}
.logo_container{
    display: flex;
    column-gap: 14px;
    align-items: center;

}
span{
    color: #FA793C;
font-family: Pridi;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navigation{
    display: flex;
    column-gap: 40px;
    align-items: center;
}
.header_ul{
    display: flex;
    column-gap: 32px;
}
.headr_li_a{
    color: #000;
font-family: ABeeZee;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
/* section1 */
.section1{
    height: 550px;
    background-image:url(../images/section1_cover.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-inline: 130px;
   display: flex;
   align-items: center;

}
  
.section1_content{

}
.section1_title{
    color: #FFF;
font-family: Kanit;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 75px; 
margin-bottom: 20px;
text-align: center;
}
.section1_text{
    color: #FFF;
text-align: center;
font-family: Kanit;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.section2{
    margin: 130px;

}
h3{
    color: #000;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; 
    margin-bottom: 34px;
}
.section2_card_container{
    display: flex;
    column-gap: 22px;

  
}
.section2_card{
    border: 1px solid #000;
    
}
.section2_card_img{
    width: 100%;
    height: 189px;
    object-fit: cover;
}
   .section2_card_text{
    margin: 16px;
   }
h4{
    color: #000;
font-family: Kanit;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
margin-bottom: 8px;
}
.section2_p{
    color: #000;
font-family: Kanit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
/* section3 */
.section3 {
 
    margin-inline: 130px;
}

.section3_card_container {
    display: flex;
    column-gap: 20px;
}

.section3_left {
    width: 780px;
    height: 400px;
}


.section3_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section3_right_img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}
/* footer */
footer{
margin-top: 130px;
height: 100px;
background-color: #000;
display: flex;
justify-content: center;
align-items: center;
}
.footer_span{
    color: #FFF;
font-family: Pridi;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer_logo_a{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}