.container {
    width: min(100%, 1440px);
    margin: auto;


}
/* header */

header {
    width: 1180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(10%);



}


.image_logo {
    width: 38px;
    height: 38px;

}

h2 {
    color: #FA793C;
    font-family: 'Pridi', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;

}

nav {
    color: #000;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;


}

ul {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-left: 635px;
}

.icone1 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}

.image_way {
    width: 1440px;
    height: 550px;
    flex-shrink: 0;

}
/* section1 */

.section1 {
    position: relative;
}

.image_way {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_trevel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


h3 {
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    margin-left: 431px;
    margin-bottom: 20px;


}

.text1 {
    width: 1180px;
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.image_human {
    width: 378px;
    height: 189px;
}

h5 {
    color: #000;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

}


.text7 {
    width: 348px;
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
/* section2 */

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 22px;
    margin-top: 130px;

}

.weather {
   width: 100%;


}
/* section3 */

.section3 {
   padding-top: 130px;
   padding-bottom: 130px;
}
.section_peactures{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.two_image{
    width: 380px;
    height: 190px;
    flex-shrink: 0;
    display: inline;
}
.section_peactures1{
    width: 780px;
}
.two_image2{
  padding-bottom: 20px;
}


footer {
    display: flex;
    width: 1440px;
    height: 100px;
    padding: 31px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #000;
}

.logo2 {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
}

.text4 {
    color: #FFF;
    font-family: Pridi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* footer */

.footer_contant {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}